<div class="offset-md-3 col-md-6">
    <table class="table table-responsive">
        <thead class="thead-default">
            <tr>
                <th class="col-md-2 text-center"></th>
                <th class="col-md-2 text-center">ISBN</th>
                <th class="col-md-4 text-center">Title</th>
                <th class="col-md-4 text-center">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td></td>
                <td>{{ book.book_isbn }}</td>
                <td>{{ book.book_title }}</td>
                <td>{{ book.author.author_name }} {{ book.author.author_surname }}</td>
            </tr>
        </tbody>
    </table>
</div>