<div class="offset-md-3 col-md-6">
    <table class="table table-responsive">
        <thead class="thead-default">
            <tr>
                <th class="col-md-2 text-center"></th>
                <th class="col-md-5 text-center">Name</th>
                <th class="col-md-5 text-center">Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors">
                <td></td>
                <td>{{ author.author_name }}</td>
                <td>{{ author.author_surname }}</td>
            </tr>
        </tbody>
    </table>
</div>