<div class="offset-md-1 col-md-10 text-center">
    <div class="col-md-12">
        <h4>Welcome to the library Thin2.0 application.</h4>
        <img class="img-fluid" style="max-height: 200px; margin-top: 2rem; margin-bottom: 0.7rem;" src="./../../../images/book_picture.png"/>

        <p>This showcase application has been built with the following technologies:</p>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4">
            <img class="img-fluid" style="max-height: 85px;" src="./../../../images/thin2-logo.png"/>
            <p>
                <b>Thin2.0</b>
            </p>
            <p class="offset-md-1 col-md-10 text-left">
                <i>Thin2.0</i> provides developer tooling and components to easen the development and increase
                productivity.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" style="max-height: 85px;" src="./../../../images/angular2.png"/>
            <p>
                <b>Angular 2</b>
            </p>
            <p class="offset-md-1 col-md-10 text-left">
                Built with <i>Angular2</i>, this example showcases <i>lazy loading</i> and <i>AOT compilation</i>.
                In the other hand, this exposes the basic <i>Angular2</i> toolkit.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" style="max-height: 85px;" src="./../../../images/webpack-logo.png"/>
            <p>
                <b>Webpack</b>
            </p>
            <p class="offset-md-1 col-md-10 text-left">
                Packaged with <i>Webpack</i>, this example showcases the configuration required in order to provide
                a development environment together with code quality controls via <i>Karma</i> and <i>Jasmine</i> and
                an <i>AOT compiled</i> production build.
            </p>
        </div>
    </div>
</div>